<div class = "container">
	<div id="calendar"></div>
    <div id="events" style="display: none;">
      <% @events.each do |event| %>
      <div>
        <div class="start"><%= event.start.to_s %></div>
        <div class="end"><%= event.end.to_s %></div>
        <div class="title"><%= event.title %></div>
      </div>
      <% end %>
    </div>
</div>
